@using UltraGreateDivanShop.Domain

@model List<Product>

<div class="container mt-3">
    <h1>Главная</h1>
    <!--a asp-page="Index" class="nav-link">Админ Панель</a-->
    <a asp-page="" class="nav-link">Админ Панель</a>
</div>